<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoreleaseFaultsMacOS</key>
	<dict>
		<key>Enabled</key>
		<false/>
	</dict>
	<key>preoptimizedCaches</key>
	<dict>
		<key>Enabled</key>
#if TARGET_OS_TV
		<false/>
#else
		<true/>
#endif
	</dict>
	<key>classRxSigning</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>classRoSigningFaults</key>
	<dict>
		<key>Enabled</key>
		<false/>
	</dict>
</dict>
</plist>
